extends layout

block content
    div#wrapper
        #content.error
            div.row
                div.col.s12
                    h2.header.red-text.text-accent-3 Ups, nos encontramos con un error
                    p Por favor intentá más tarde o comunicate con el administrador del sistema. Gracias!
