extends layout

block menu

block content
    #content.index
        div.row
            div.center-align.valign-wrapper.in-container
                div.col.s12.l6
                    a(href="/regalos-disponibles.html").grey.darken-3.center-align.waves-effect.waves-light.btn.valign Invitados
                div.col.s12.l6
                    a(href="/novios").grey.darken-3.center-align.waves-effect.waves-light.btn.valign Novios
block toolbar