extends layout

block menu

block content
    #content.index
        div.row
            div.col.s1.m4
            div.col.s8.m4
                div.center-align.valign-wrapper.in-container
                    a(href="/regalos-disponibles.html").waves-effect.waves-light.btn.valign Invitados
                        i.material-icons.left cloud
                    a(href="/novios").waves-effect.waves-light.btn.valign Novios
                        i.material-icons.left cloud

            div.col.s1.m4
block toolbar