html
    head
        title casorio!
        link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="/js/materialize.js")
        link(href='/css/materialize/css/materialize.min.css', rel='stylesheet', type='text/css')
        link(href='/css/main.css', rel='stylesheet', type='text/css')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        block menu
            nav
                div.nav-wrapper.grey.darken-3
                    a(href="/").brand-logo CASORIO
                        i.material-icons tag_faces
                    a(href="#",data-activates="mobile-demo").button-collapse
                        i.material-icons menu
                    ul.right.hide-on-med-and-down
                        li
                            a(href='#uploadNewPresent', title="agregar a la lista")
                                i.material-icons cloud_upload
                        li
                            a(href='#categories', title="categorias")
                                i.material-icons settings
                        li
                            a(href="", close-session="", title="cerrar sesión")
                                i.material-icons exit_to_app
                        li
                            a(href="/", title="inicio")
                                i.material-icons home

                    ul#mobile-demo.side-nav
                        li
                            a(href='#uploadNewPresent') Crear regalo
                                i.material-icons cloud_upload
                        li
                            a(href='#categories', title="categorias")
                                i.material-icons settings
                        li
                            a(href="", close-session="") Cerrar sesión
                                i.material-icons exit_to_app
                        li
                            a(href="/") Inicio
                                i.material-icons home
        div#container.container

            block content

            block preloader
                div#preloader.preloader-wrapper.big.active.hide
                    div.spinner-layer.spinner-blue-only
                        div.circle-clipper.left
                            div.circle
                        div.gap-patch
                            div.circle
                        div.circle-clipper.right
                            div.circle

            block toolbar
                //-div.fixed-action-btn.click-to-toggle
                    a.btn-floating.btn-large.orange
                        i.material-icons menu
                    ul
                        li
                            a(href='#uploadNewPresent', title="agregar a la lista").btn-floating.red.accent-3.modal-trigger
                                i.material-icons cloud_upload
                        li
                            a(href="", close-session="", title="cerrar session").btn-floating
                                i.material-icons exit_to_app
                        li
                            a(href="/").btn-floating.green
                                i.material-icons home
            block footer
                footer.valign-wrapper.center-align.indigo.lighten-3
                    p.valign La boda de Flor y Lenny

            block scripts
                script(src="/js/script.js")