extends layout

block content
    div.undo.blue.lighten-5
        p.text Se ha borrado el regalo de ID: #[span ].
            a#undo.amber-text.text-darken-3(href="") DESHACER
    div.loader
        img(src="/images/heart.gif")
    div#wrapper
        div#content.present-list
            div.row
                div.col.s12
                    h2.header.grey-text.text-darken-3 Administrá tus regalos
            div.row
                div.col.s12
                    form
                        div.row
                            div.col.s12.m6.l4
                                select#filterByPrice
                                    option(value="", disabled="", selected="") Filtrar por rango de precios
                                    option(value="_100_500") $100 - $500
                                    option(value="_500_1000") $500 - $1000
                                    option(value="_1000_3000") $1000 - $3000
                                    option(value="_3000_1500") $3000 - $15000
                                    option(value="_15000_") más de $15000
                                    option(value="all") ver todos

                            div.col.s12.m6.l4
                                select#filterByCategory.categorySelect
                                    option(value="", disabled="", selected="") Filtrar por categoría
            div.row
                div#presents-content.col.s12
                    table.highlight.bordered
                        thead
                            tr
                                th.hide-on-small-only id
                                th.hide-on-small-only categoría
                                th nombre
                                th.hide-on-small-only descripción
                                th.hide-on-small-only imagen
                                th precio
                                th
                        tbody#presents-table


            div.hide
                table#present-tr
                    tr
                        td.hide-on-small-only :id
                        td.hide-on-small-only :category
                        td :name
                        td.hide-on-small-only :description
                        td.hide-on-small-only
                            img(src=":image").responsive-img
                        td $:price
                        td
                            a(href="", data-id=":id").removeItem.btn-floating.grey.darken-2
                                i(data-id=":id").material-icons delete


            div#uploadNewPresent.modal
                div.modal-content.white
                    h4.indigo-text.text-lighten-4 Agregá un nuevo regalo
                    form(method="POST", enctype="multipart/form-data", action="", id="uploadPresentForm")
                        div.row
                            div.input-field.col.s6
                                input(name="name", type="text", required="")#name.validate
                                label(for="name") Nombre
                            div.input-field.col.s6
                                input(name="price", type="number", pattern="[0-9]+", required="")#price.validate
                                label(for="price") Precio
                        div.row
                            div.input-field.col.s12
                                select(name="category", type="text", required="")#category.validate.categorySelect
                                    option(value="") Seleccionar una categoría
                        div.row
                            div.input-field.col.s12
                                textarea(data-length="400", name="description", required="")#description.materialize-textarea
                                label(for="description") Descripción
                        div.row
                            div.input-field.col.s12.file-field
                                div.btn.red.accent-4
                                    span Imagen
                                    input(type="file", name="image")
                                div.file-path-wrapper
                                    input(type="text").file-path.validate
                        div.row
                            button(uploadPresent="").right.waves-effect.waves-yellow.btn-flat.orange.white-text Submit
                                i.material-icons.right send
                            input(style="line-height: 34px;", submitForm='', type="submit", value="Agregar regalo").hide.right.modal-action.modal-close.waves-effect.waves-yellow.btn-flat.orange.white-text
                            a(href="#!").right.modal-action.modal-close.waves-effect.waves-amber.btn-flat.indigo.lighten-5 Cancelar


            div#categories.modal.white
                div.modal-content
                    h4.indigo-text.text-lighten-4 Categorías
                    p#catList
                    form
                        div.row
                            div.input-field.col.s12
                                input(name="name", type="text", required="")#categoryName.validate
                                label(for="categoryName") Nueva categoría
                                a#addNewCategory.btn.orange.white-text
                                    i.material-icons add
                        div.row
                            div.input-field.col.s12
                                p#catMessage
block scripts
    script(src="/js/validateLogin.js")
    script(src="/js/presentsList.js")