extends layout

block content
    div.row
        div.col.s12
            h2.header.red-text.text-accent-3 Administrá tus regalos

    div.row
        div#presents-content.col.s12
            table.highlight.bordered
                thead
                    tr
                        th id
                        th categoría
                        th nombre
                        th descripcion
                        th imagen
                        th precio
                        th estado
                        th
                        th
                tbody#presents-table


    div.hide
        table#present-tr
            tr
                td :id
                td :category
                td :name
                td :description
                td
                    img(src="/images/:image").responsive-img
                td $:price
                td
                    span(class=":status", data-badge-caption=":status").badge.new
                td
                    a(href="", data-id=":id").removeItem.btn-floating.red
                        i(data-id=":id").material-icons delete


    div#uploadNewPresent.modal
        div.modal-content
            h4.indigo-text.text-lighten-4 Agregá un nuevo regalo
            form(method="POST", enctype="multipart/form-data", action="/regalos")
                div.row
                    div.input-field.col.s6
                        input(name="name", type="text", required="")#name.validate
                        label(for="name") Nombre
                    div.input-field.col.s6
                        input(name="price", type="number", pattern="[0-9]+", required="")#price.validate
                        label(for="price") Precio
                div.row
                    div.input-field.col.s12
                        input(name="category", type="text", required="")#category.validate
                        label(for="category") Categoría
                div.row
                    div.input-field.col.s12
                        textarea(data-length="400", name="description", required="")#description.materialize-textarea
                        label(for="description") Descripción
                div.row
                    div.input-field.col.s12.file-field
                        div.btn
                            span Imagen
                            input(type="file", name="image")
                        div.file-path-wrapper
                            input(type="text").file-path.validate
                div.row
                    button(uploadPresent="").right.waves-effect.waves-yellow.btn-flat.orange.white-text Submit
                        i.material-icons.right send
                    input(style="line-height: 34px;", submitForm='', type="submit", value="Agregar regalo").hide.right.modal-action.modal-close.waves-effect.waves-yellow.btn-flat.orange.white-text
                    a(href="#!").right.modal-action.modal-close.waves-effect.waves-amber.btn-flat.indigo-text.text-lighten-4 Cancelar


block scripts
    script(src="/js/presentsList.js")