extends layout

block menu
block content
    div#wrapper
        #content.regalos-disponibles
            div.row
                div.col.s12
                    h1.header.grey-text.text-darken-3.center Seleccioná tu regalo
            div.row
                div.col.s12
                    form
                        div.row
                            div.col.s12.m6.l4
                                select#filterByPrice
                                    option(value="", disabled="", selected="") Elegir rango de precios
                                    option(value="_100_500") $100 - $500
                                    option(value="_500_1000") $500 - $1000
                                    option(value="_1000_3000") $1000 - $3000
                                    option(value="_3000_1500") $3000 - $15000
                                    option(value="_15000_") más de $15000
                                    option(value="all") ver todos
            div.row
                div#present-content.col.s12
                div#present-card.hide
                    div.col.s12.m6.l4
                        div.card.medium
                            div.card-image.waves-effect.waves-block.waves-light
                                img(src="/uploads/images/:image").activator
                            div.card-content
                                span.card-title.activator.grey-text.text-darken-4 :name - $:price
                                    i.material-icons.right more_vert
                                p
                                    a(href=":url", target="_blank", buyPresent="", data-id=":id").orange-text REGALAR!
                            div.card-reveal
                                span.card-title.grey-text.text-darken-4 :name - $:price
                                    i.material-icons.right close
                                p :description
                                p
                                    a(href=":url", target="_blank", buyPresent="", data-id=":id").btn.orange.white-text
                                        i.material-icons shopping_cart


block toolbar

block scripts
    script(src="/js/availablePresents.js")